[submodule "SmartContract/VolatilityHook-UniV4"]
	path = SmartContract/VolatilityHook-UniV4
	url = https://github.com/cambriannetwork/VolatilityHook-UniV4
[submodule "Front-End/uniswap-v4-frontend"]
	path = Front-End/uniswap-v4-frontend
	url = https://github.com/cambriannetwork/uniswap-v4-frontend
[submodule "Cache-System/univ4-cache"]
	path = Cache-System/univ4-cache
	url = https://github.com/cambriannetwork/univ4-cache
[submodule "V4-Hook/VolatilityHook-UniV4"]
	path = V4-Hook/VolatilityHook-UniV4
	url = https://github.com/cambriannetwork/VolatilityHook-UniV4
